@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .gradient-bg {
        width: 100vw;
        height: 100vh;
        background: #F249F2;
        background: radial-gradient(ellipse farthest-side at bottom center, #F249F2 0%, #EDDBB2 100%);
    }
} */